---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



h2 {
    color:  #555;
    font-style: italic;
    font-family: "Calluna", Georgia, serif;
}


h1 {
    color: #7A200D;
    font-family: "Calluna", Georgia, serif;
}

// Our variables
// $base-font-family: Helvetica, Arial, sans-serif;
$base-font-family: "Calluna", Georgia, serif;
$base-font-size:   18px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;
$spacing-unit-line: 7px;

$text-color:       #333;
$background-color: #fdfdfd;
$brand-color: #4D96B9;
$brand-color-secondary: #109269;
$brand-color-light: lighten($brand-color-secondary, 5%);
$brand-color-dark: darken($brand-color-secondary, 5%);

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$on-palm:          750px;
$on-laptop:        800px;

$statblock-main-color: #7A200D;
$statblock-secondary-color: #922610;
$statblock-background-color: #FDF1DC;



// Using media queries with like this:
// @include media-query($palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "statblock",
        "syntax-highlighting"
;

.searchHide {
    display: none;
}

@media print {
    .site-header {
        display: none;
    }

    .site-footer {
        display: none;
    }
}

.mon-stat-block {
    background-size: 100% auto;
    background-position: top center;
    background-repeat: no-repeat, repeat;
    position: relative;
    box-shadow: 0 0 5px #979AA4;
    border: 1px solid #d4d0ce;
    margin: 15px 0;
    font-family: "Scala Sans Offc", Roboto, Helvetica, sans-serif;
    font-size: 15px;
    background: #FDF1DC;
    padding: 12px;
}

.mon-stat-block-inner {
    padding: 15px;
    column-count: 2;
}

.mon-stat-block__name a {
    font-weight: bold;
    font-size: 34px;
    font-family: MrsEavesSmallCaps, Roboto, Helvetica, sans-serif;
    color: #822000;
    text-decoration: none;
}

.mon-stat-block__meta {
    font-style: italic;
    margin-bottom: 15px;
}
.mon-stat-block__attribute-label,
.ability-block__heading {
    font-weight: bold;
}
.ability-block {
    font-family: "Scala Sans Offc", Roboto, Helvetica, sans-serif;
    font-size: 14px;
}
.mon-stat-block__stat-block .ability-block {
    color: #822000;
    margin: 0;
    display: flex;
}
.mon-stat-block__attribute {
    margin: 5px 0;
    color: #822000;
    line-height: 1.2;
}
.ability-block__stat {
    width: 16.66667%;
    padding: 5px 0;
    text-align: center;
    font-size: 14px;
}