---
layout: default
---
{% assign letters = "D G S" | split: ' ' %}
{% assign all_monsters = site.monsters | sort: 'name' %}
<div class="home">
  <h1 class="page-heading">All Monsters</h1>
  <p id="monsterSearch">Search by name: <input type="search" id="jetsSearch"></p>
  <p id="sortBy">Sort By: <a href="{{ site.baseurl }}/cr">CR</a> | <a href="{{ site.baseurl }}/">Name</a></p>

  <dl class="tag-list">
    <dt class="spacing">Letters:</dt>
    {% for letter in letters %}
    <dd class="spacing">
      <a href="#{{ letter }}">{{ letter }}</a>
    </dd>
    {% endfor %}
  </dl>
  {% for letter in letters %}
  <a id="{{ letter }}"></a>
  <h2 class="post-list-head jetsHide">{{ letter }}</h2>
  <ul class="post-list jetsContent">
    {% for monster in all_monsters %}
    {% assign l = monster.name | slice: 0 %}
    {% if l != letter %}{% continue %}{% endif %}
    <li>
      <a class="post-link" href="{{ monster.url | prepend: site.baseurl }}">{{ monster.name }}</a>
    </li>
    {% endfor %}
  </ul>
  <a class="post-meta jetsHide" href="#top">Back to top &#8593;</a>
  {% endfor %}
