--- 
layout: default 
---
<div class="post">
  <div class="stat-block">
    <hr class="orange-border" />
    <div class="section-left">
      <div class="creature-heading">
	<h1>{{ page.name }}</h1>
	<h2>{{ page. item_type }}</h2>
      </div> <!-- creature heading -->
      <svg height="5" width="100%" class="tapered-rule">
	<polyline points="0,0 400,2.5 0,5"></polyline>
      </svg>


      <div class="top-stats">
		<div class="property-line first">
		<h4>Rarity</h4>
		<p>{{ page.item_rarity }}</p>
	</div> 
	{% if page.damage %}
	<div class="property-line first">
	  <h4>Damage</h4>
	  <p>{{ page.damage }}</p>
	</div> 
	{% endif %}
	{% if page.modifiers %}
	<div class="property-line">
	  <h4>Modifiers</h4>
	  <p contenteditable="true">{{ page.modifiers }}</p>
	</div>
	{% endif %}
	{% if page.properties %}
	<div class="property-line last">
	  <h4>Properties</h4>
	  <p>{{ page.properties }}</p>
	</div> 
	{% endif %}
	{% if page.range %}
	<div class="property-line last">
	<h4>Range</h4>
	<p>{{ page.range }}</p>
	</div> 
	{% endif %}
	  <div class="property-line last">
		<h4>Weight</h4>
		<p>{{ page.weight }}</p>
	  </div> 
	<svg height="5" width="100%" class="tapered-rule top-gap">
	  <polyline points="0,0 400,2.5 0,5"></polyline>
	</svg>
      {{ content }}
      <hr class="orange-border bottom" />
    </div>
  </div>
</div>
