--- 
layout: default 
---
<div class="post detail-content">
  <div class="stat-block mon-stat-block">
    <hr class="orange-border" />
    <div class="section-left">
      <div class="monster-heading">
        <h1>{{ page.name }}</h1>
        <h2>{{ page.size }}, {{ page.alignment }}</h2>
      </div> <!-- monster heading -->
      <svg height="5" width="100%" class="tapered-rule">
	      <polyline points="0,0 400,2.5 0,5"></polyline>
      </svg>
      <div class="top-stats">
        <div class="property-line first">
          <h4>Armor Class</h4>
          <p>{{ page.armor_class }}</p>
        </div> <!-- property line -->
	<div class="property-line">
	  <h4>Hit Points</h4>
	  <p contenteditable="true">{{ page.hit_points }}</p>
	</div> <!-- property line -->
  <div class="mon-stat-block__attribute">
    <span class="mon-stat-block__attribute-label">Hit Points</span>
    <span class="mon-stat-block__attribute-data">
        <span class="mon-stat-block__attribute-data-value">
            11
        </span>
        <span class="mon-stat-block__attribute-data-extra">
            (2d8 + 2)
        </span>      
    </span>
  </div>
	<div class="property-line last">
	  <h4>Speed</h4>
	  <p>{{ page.speed }}</p>
	</div> <!-- property line -->
	<svg height="5" width="100%" class="tapered-rule">
	  <polyline points="0,0 400,2.5 0,5"></polyline>
	</svg>
	<div class="abilities">
	  <div class="ability-strength">
	    <h4>STR</h4>
	    <p>{{ page.str }}</p>
	  </div>
	  <div class="ability-dexterity">
	    <h4>DEX</h4>
	    <p>{{ page.dex }}</p>
	  </div>
	  <div class="ability-constitution">
	    <h4>CON</h4>
	    <p>{{ page.con }}</p>
	  </div>
	  <div class="ability-intelligence">
	    <h4>INT</h4>
	    <p>{{ page.int }}</p>
	  </div>
	  <div class="ability-wisdom">
	    <h4>WIS</h4>
	    <p>{{ page.wis }}</p>
	  </div>
	  <div class="ability-charisma">
	    <h4>CHA</h4>
	    <p>{{ page.cha }}</p>
	  </div>
	</div>
	<svg height="5" width="100%" class="tapered-rule top-gap">
	  <polyline points="0,0 400,2.5 0,5"></polyline>
	</svg>
	{% if page.damage_immunities %}
	<div class="property-line">
	  <h4>Damage Immunities</h4>
	  <p>{{ page.damage_immunities }}</p>
	</div>
	{% endif %}
	{% if page.damage_resistances %}
	<div class="property-line">
	  <h4>Damage Resistances</h4>
	  <p>{{ page.damage_resistances }}</p>
	</div>
	{% endif %}
	{% if page.damage_vulnerabilities %}
	<div class="property-line">
	  <h4>Damage Vulnerabilities</h4>
	  <p>{{ page.damage_vulnerabilities }}</p>
	</div>
	{% endif %}
	{% if page.condition_immunities %}
	<div class="property-line">
	  <h4>Condition Immunities</h4>
	  <p>{{ page.condition_immunities }}</p>
	</div>
	{% endif %}
	{% if page.senses %}
	<div class="property-line">
	  <h4>Senses</h4>
	  <p>{{ page.senses }}</p>
	</div>
	{% endif %}
	{% if page.saving_throws %}
	<div class="property-line">
	  <h4>Saving Throws</h4>
	  <p>{{ page.saving_throws }}</p>
	</div>
	{% endif %}
	{% if page.skills %}
	<div class="property-line">
	  <h4>Skills</h4>
	  <p>{{ page.skills }}</p>
	</div>
	{% endif %}
	{% if page.languages %}
	<div class="property-line">
	  <h4>Languages</h4>
	  <p>{{ page.languages }}</p>
	</div>
	{% endif %}
	{% if page.challenge %}
	<div class="property-line">
	  <h4>Challenge</h4>
	  <p>{{ page.challenge }}</p>
	</div>
	{% endif %}
      </div>
      <svg height="5" width="100%" class="tapered-rule top-gap bottom-gap">
	<polyline points="0,0 400,2.5 0,5"></polyline>
      </svg>
      {{ content }}

      <dl class="tag-list">
	{% for tag in page.tags %}
	<dd>
	  <span class="tag">
	    {% if tag contains 'cr' %}
	    <a href="{{ site.baseurl }}/cr#{{ tag }}">{{tag}}</a> {% else %}
	    <a href="{{ site.baseurl }}/tag/{{ tag }}">{{tag}}</a> {% endif %}
	  </span>
	</dd>
	{% endfor %}
	{% if page.page_number %}
	<dd>(p. {{ page.page_number }})</dd>
	{% endif %}
      </dl>
      <hr class="orange-border bottom" />
    </div>
  </div>

  <div class="detail-content">
  <div class="mon-stat-block">
    <div class="mon-stat-block__header">
      <div class="monster-heading">
        <h1>{{ page.name }}</h1>
        <h2>{{ page.size }}, {{ page.alignment }}</h2>
      </div>
    </div>
    <svg height="5" width="100%" class="tapered-rule">
      <polyline points="0,0 400,2.5 0,5"></polyline>
    </svg>
    <div class="mon-stat-block__attributes">
        <div class="mon-stat-block__attribute">
            <span class="mon-stat-block__attribute-label">Armor Class</span>
            <span class="mon-stat-block__attribute-value">
                <span class="mon-stat-block__attribute-data-value">
                    13
                </span>
                
                    <span class="mon-stat-block__attribute-data-extra">
                        (natural armor)  
                    </span> 
                         
            </span>
        </div>
        <div class="mon-stat-block__attribute">
            <span class="mon-stat-block__attribute-label">Hit Points</span>
            <span class="mon-stat-block__attribute-data">
                <span class="mon-stat-block__attribute-data-value">
                    11
                </span>
                <span class="mon-stat-block__attribute-data-extra">
                    (2d8 + 2)
                </span>      
            </span>
        </div>
        <div class="mon-stat-block__attribute">
            <span class="mon-stat-block__attribute-label">Speed</span>
            <span class="mon-stat-block__attribute-data">
                <span class="mon-stat-block__attribute-data-value">
                    40 ft. 
                </span>
            </span>
        </div>
    </div>
    <div class="mon-stat-block__stat-block">
      <svg height="5" width="100%" class="tapered-rule">
        <polyline points="0,0 400,2.5 0,5"></polyline>
      </svg>
        <div class="ability-block">
            <div class="ability-block__stat ability-block__stat--str">
                <div class="ability-block__heading">STR</div>
                <div class="ability-block__data">
                    <span class="ability-block__score">12</span>
                    <span class="ability-block__modifier">(+1)</span>
                </div>
            </div>
            <div class="ability-block__stat ability-block__stat--dex">
                <div class="ability-block__heading">DEX</div>
                <div class="ability-block__data">
                    <span class="ability-block__score">15</span>
                    <span class="ability-block__modifier">(+2)</span>
                </div>
            </div>
            <div class="ability-block__stat ability-block__stat--con">
                <div class="ability-block__heading">CON</div>
                <div class="ability-block__data">
                    <span class="ability-block__score">12</span>
                    <span class="ability-block__modifier">(+1)</span>
                </div>
            </div>
            <div class="ability-block__stat ability-block__stat--int">
                <div class="ability-block__heading">INT</div>
                <div class="ability-block__data">
                    <span class="ability-block__score">3</span>
                    <span class="ability-block__modifier">(-4)</span>
                </div>
            </div>
            <div class="ability-block__stat ability-block__stat--wis">
                <div class="ability-block__heading">WIS</div>
                <div class="ability-block__data">
                    <span class="ability-block__score">12</span>
                    <span class="ability-block__modifier">(+1)</span>
                </div>
            </div>
            <div class="ability-block__stat ability-block__stat--cha">
                <div class="ability-block__heading">CHA</div>
                <div class="ability-block__data">
                    <span class="ability-block__score">6</span>
                    <span class="ability-block__modifier">(-2)</span>
                </div>
            </div>
        </div>
        <svg height="5" width="100%" class="tapered-rule">
          <polyline points="0,0 400,2.5 0,5"></polyline>
        </svg>
    </div>
    <div class="mon-stat-block__tidbits">
        
            <div class="mon-stat-block__tidbit">
                <span class="mon-stat-block__tidbit-label">Skills</span>
                <span class="mon-stat-block__tidbit-data">
                    <a class="tooltip-hover skill-tooltip" href="/compendium/rules/basic-rules/using-ability-scores#Perception" >Perception</a> +3, <a class="tooltip-hover skill-tooltip" href="/compendium/rules/basic-rules/using-ability-scores#Stealth" >Stealth</a> +4
                </span>
            </div>
        
            <div class="mon-stat-block__tidbit">
                <span class="mon-stat-block__tidbit-label">Senses</span>
                <span class="mon-stat-block__tidbit-data">
                     Passive Perception 13
                </span>
            </div>
        
            <div class="mon-stat-block__tidbit">
                <span class="mon-stat-block__tidbit-label">Languages</span>
                <span class="mon-stat-block__tidbit-data">
                      --  
                </span>
            </div>
        
        <div class="mon-stat-block__tidbit-container">
            <div class="mon-stat-block__tidbit">
                <span class="mon-stat-block__tidbit-label">Challenge</span>
                <span class="mon-stat-block__tidbit-data">
                    1/4 (50 XP)
                </span>
            </div>
            
                <div class="mon-stat-block__tidbit-spacer"></div>
                <div class="mon-stat-block__tidbit">
                    <span class="mon-stat-block__tidbit-label">Proficiency Bonus</span>
                    <span class="mon-stat-block__tidbit-data">
                        +2
                    </span>
                </div>
            
        </div>
        
    </div>
    <svg height="5" width="100%" class="tapered-rule">
      <polyline points="0,0 400,2.5 0,5"></polyline>
    </svg>
    <div class="mon-stat-block__description-blocks">
        
            <div class="mon-stat-block__description-block"> 
                <div class="mon-stat-block__description-block-content">
                    <p><em><strong>Keen Hearing and Smell.</strong></em> The wolf has advantage on Wisdom (<a class="tooltip-hover skill-tooltip" href="/compendium/rules/basic-rules/using-ability-scores#Perception" >Perception</a>) checks that rely on hearing or smell.</p>
<p><em><strong>Pack Tactics.</strong></em> The wolf has advantage on attack rolls against a creature if at least one of the wolf's allies is within 5 feet of the creature and the ally isn’t <a class="tooltip-hover condition-tooltip" href="/sources/dnd/free-rules/rules-glossary#IncapacitatedCondition" >incapacitated</a>.</p>                
                </div>
            </div>
         
            <div class="mon-stat-block__description-block">
                <div class="mon-stat-block__description-block-heading">Actions</div>
                <div class="mon-stat-block__description-block-content">
                    <p><em><strong>Bite.</strong> Melee Weapon Attack:</em> <span data-dicenotation="1d20+4" data-rolltype="to hit" data-rollaction="Bite">+4</span> to hit, reach 5 ft., one target. <em>Hit:</em> 7 <span data-dicenotation="2d4+2" data-rolltype="damage" data-rollaction="Bite" data-rolldamagetype="piercing">(2d4 + 2)</span> piercing damage. If the target is a creature, it must succeed on a DC 11 Strength saving throw or be knocked <a class="tooltip-hover condition-tooltip" href="/sources/dnd/free-rules/rules-glossary#ProneCondition" >prone</a>.</p>                            
                </div>
            </div>
        
    </div>
  </div>

  </div>
</div>
