--- 
layout: default 
---
<div class="post">
  <div class="detail-content">
  <div class="mon-stat-block">
    <hr class="orange-border" />
    <div class="mon-stat-block-inner">
    <div class="mon-stat-block__header">
      <div class="monster-heading">
        <h1>{{ page.name }}</h1>
        <h2>{{ page.size }}, {{ page.alignment }}</h2>
      </div>
    </div>
    <svg height="5" width="100%" class="tapered-rule">
      <polyline points="0,0 400,2.5 0,5"></polyline>
    </svg>
    <div class="mon-stat-block__attributes">
        <div class="mon-stat-block__attribute">
            <span class="mon-stat-block__attribute-label">Armor Class</span>
            <span class="mon-stat-block__attribute-value">
                <span class="mon-stat-block__attribute-data-value">
                  {{ page.armor_class }}
                </span>
                {% if page.armor_type %}
                  <span class="mon-stat-block__attribute-data-extra">
                    {{ page.armor_type }}
                  </span> 
                {% endif %}
            </span>
        </div>
        <div class="mon-stat-block__attribute">
            <span class="mon-stat-block__attribute-label">Hit Points</span>
            <span class="mon-stat-block__attribute-data">
                <span class="mon-stat-block__attribute-data-value" contenteditable="true">
                  {{ page.hit_points }}
                </span>
                <span class="mon-stat-block__attribute-data-extra">
                  {{ page.hit_points_roll }}
                </span>      
            </span>
        </div>
        <div class="mon-stat-block__attribute">
            <span class="mon-stat-block__attribute-label">Speed</span>
            <span class="mon-stat-block__attribute-data">
                <span class="mon-stat-block__attribute-data-value">
                  {{ page.speed }}
                </span>
            </span>
        </div>
    </div>
    <div class="mon-stat-block__stat-block">
      <svg height="5" width="100%" class="tapered-rule">
        <polyline points="0,0 400,2.5 0,5"></polyline>
      </svg>
        <div class="ability-block">
            <div class="ability-block__stat ability-block__stat--str">
                <div class="ability-block__heading">STR</div>
                <div class="ability-block__data">
                    <span class="ability-block__score">{{ page.str }}</span>
                    <span class="ability-block__modifier">{{ page.str_mod }}</span>
                </div>
            </div>
            <div class="ability-block__stat ability-block__stat--dex">
                <div class="ability-block__heading">DEX</div>
                <div class="ability-block__data">
                    <span class="ability-block__score">{{ page.dex }}</span>
                    <span class="ability-block__modifier">{{ page.dex_mod }}</span>
                </div>
            </div>
            <div class="ability-block__stat ability-block__stat--con">
                <div class="ability-block__heading">CON</div>
                <div class="ability-block__data">
                    <span class="ability-block__score">{{ page.con }}</span>
                    <span class="ability-block__modifier">{{ page.con_mod }}</span>
                    
                </div>
            </div>
            <div class="ability-block__stat ability-block__stat--int">
                <div class="ability-block__heading">INT</div>
                <div class="ability-block__data">
                    <span class="ability-block__score">{{ page.int }}</span>
                    <span class="ability-block__modifier">{{ page.int_mod }}</span>
                </div>
            </div>
            <div class="ability-block__stat ability-block__stat--wis">
                <div class="ability-block__heading">WIS</div>
                <div class="ability-block__data">
                    <span class="ability-block__score">{{ page.wis }}</span>
                    <span class="ability-block__modifier">{{ page.wis_mod }}</span>
                </div>
            </div>
            <div class="ability-block__stat ability-block__stat--cha">
                <div class="ability-block__heading">CHA</div>
                <div class="ability-block__data">
                    <span class="ability-block__score">{{ page.cha }}</span>
                    <span class="ability-block__modifier">{{ page.cha_mod }}</span>
                </div>
            </div>
        </div>
        <svg height="5" width="100%" class="tapered-rule">
          <polyline points="0,0 400,2.5 0,5"></polyline>
        </svg>
    </div>
    <div class="mon-stat-block__tidbits">
      <div class="mon-stat-block__tidbit">
        {% if page.show_skill %}<span class="mon-stat-block__tidbit-label">Skills</span>{% endif %}
        <span class="mon-stat-block__tidbit-data">
          {% if page.skill_acrobatics %}
            <a class="tooltip-hover skill-tooltip">Acrobatics</a> {{page.skill_acrobatics}}
          {% endif %}
          {% if page.skill_animal_handling %}
            <a class="tooltip-hover skill-tooltip">Animal Handling</a> {{page.skill_animal_handling}}
          {% endif %}
          {% if page.skill_arcana %}
            <a class="tooltip-hover skill-tooltip">Arcana</a> {{page.skill_arcana}}
          {% endif %}
          {% if page.skill_athletics %}
            <a class="tooltip-hover skill-tooltip">Athletics</a> {{page.skill_athletics}}
          {% endif %}
          {% if page.skill_deception %}
            <a class="tooltip-hover skill-tooltip">Deception</a> {{page.skill_deception}}
          {% endif %}
          {% if page.skill_history %}
            <a class="tooltip-hover skill-tooltip">History</a> {{page.skill_history}}
          {% endif %}
          {% if page.skill_insight %}
            <a class="tooltip-hover skill-tooltip">Insight</a> {{page.skill_insight}}
          {% endif %}
          {% if page.skill_intimidation %}
            <a class="tooltip-hover skill-tooltip">Intimidation</a> {{page.skill_intimidation}}
          {% endif %}
          {% if page.skill_investigation %}
            <a class="tooltip-hover skill-tooltip">Investigation</a> {{page.skill_investigation}}
          {% endif %}
          {% if page.skill_medicine %}
            <a class="tooltip-hover skill-tooltip">Medicine</a> {{page.skill_medicine}}
          {% endif %}
          {% if page.skill_nature %}
            <a class="tooltip-hover skill-tooltip">Nature</a> {{page.skill_nature}}
          {% endif %}
          {% if page.skill_perception %}
            <a class="tooltip-hover skill-tooltip">Perception</a> {{page.skill_perception}}
          {% endif %}
          {% if page.skill_performance %}
            <a class="tooltip-hover skill-tooltip">Performance</a> {{page.skill_performance}}
          {% endif %}
          {% if page.skill_persuasion %}
            <a class="tooltip-hover skill-tooltip">Persuasion</a> {{page.skill_persuasion}}
          {% endif %}
          {% if page.skill_religion %}
            <a class="tooltip-hover skill-tooltip">Religion</a> {{page.skill_religion}}
          {% endif %}
          {% if page.skill_sleight_of_hand %}
            <a class="tooltip-hover skill-tooltip">Sleight of Hand</a> {{page.skill_sleight_of_hand}}
          {% endif %}
          {% if page.skill_stealth %}
            <a class="tooltip-hover skill-tooltip">Stealth</a> {{page.skill_stealth}}
          {% endif %}
          {% if page.skill_survival %}
            <a class="tooltip-hover skill-tooltip">Survival</a> {{page.skill_survival}}
          {% endif %}
        </span>
      </div>
      <div class="mon-stat-block__attribute">
          <span class="mon-stat-block__attribute-label">Senses</span>
          <span class="mon-stat-block__attribute-data">
            {{ page.senses }}
          </span>
      </div>
      <div class="mon-stat-block__attribute">
          <span class="mon-stat-block__attribute-label">Languages</span>
          <span class="mon-stat-block__attribute-data">
            {{ page.languages }}  
          </span>
      </div>
      <div class="mon-stat-block__attribute">
          <span class="mon-stat-block__attribute-label">Challenge</span>
          <span class="mon-stat-block__attribute-data">
            {{ page.challenge }}
          </span>
      </div>
      <div class="mon-stat-block__attribute">
          <span class="mon-stat-block__attribute-label">Proficiency Bonus</span>
          <span class="mon-stat-block__attribute-data">
              {{ page.prof_bonus }}
          </span>
      </div>
    </div>
    <svg height="5" width="100%" class="tapered-rule">
      <polyline points="0,0 400,2.5 0,5"></polyline>
    </svg>
    <div class="mon-stat-block__description-blocks">
        <div class="mon-stat-block__description-block"> 
          <div class="mon-stat-block__description-block-content">
            {{ content }}              
          </div>
        </div>
        <div class="mon-stat-block__description-block">
          <div class="mon-stat-block__description-block-heading">Actions</div>
          <div class="mon-stat-block__description-block-content">
              <p>
                <strong>{{ page.action1_name }}</strong>
                <span>{{ page.action1_desc }}</span>
              </p>
              <p>
                <strong>{{ page.action2_name }}</strong>
                <span>{{ page.action2_desc }}</em>
                <em>Attack:</em> <span data-dicenotation="{{ page.action2_attack }}" data-rolltype="to hit" data-rollaction="Bite">{{ page.action2_attack }}</span></em>
                <em>Damage:</em> <span data-dicenotation="{{ page.action2_dmg1_value }}" data-rolltype="damage" data-rollaction="Bite" data-rolldamagetype="piercing">({{ page.action2_dmg1_value }})</span> {{ page.action2_dmg1_type }}
                <div>{{ page.action2_desc2 }}</div>
              </p>                            
          </div>
        </div>
    </div>
  </div>

  <hr class="orange-border" />
  </div>
  </div>
  </div>
</div>
